input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url("/fonts/sourceSansPro/SourceSansPro-Regular.woff2") format("woff2"),
    url("/fonts/sourceSansPro/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url("/fonts/sourceSansPro/SourceSansPro-Semibold.woff2") format("woff2"),
    url("/fonts/sourceSansPro/SourceSansPro-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url("/fonts/sourceSansPro/SourceSansPro-Bold.woff2") format("woff2"),
    url("/fonts/sourceSansPro/SourceSansPro-Bold.woff") format("woff");
}

.source-sans-400 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.source-sans-600 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.source-sans-700 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 34.804px; /* 220.685% */
  letter-spacing: 0.473px;
  color: #0e2368;
  font-size: 15.771px;
}

h1 {
  color: #0e2368;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 38px;
  font-weight: 700;
  line-height: 46px; /* 121.053% */
}

h3 {
  color: #0e2368;
  text-align: center;
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
}

h2 {
  color: #0e2368;
  text-align: center;
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 600;
  line-height: 35px; /* 134.615% */
  letter-spacing: 1.12px;
}

h4 {
  color: #0e2368;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px; /* 218.75% */
  letter-spacing: 0.8px;
  text-align: center;
}

@media (min-width: 480px) {
  h5 {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 27.218px; /* 220.685% */
    letter-spacing: 0.565px;
    font-size: 18.843px;
  }
  h3 {
    text-align: left;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 62px;
    line-height: 69px; /* 121.053% */
  }
  h3 {
    text-align: left;
    font-size: 45px;
    line-height: 27px;
  }
  h4 {
    font-family: Poppins;
    font-size: 21px;
    text-align: left;
    line-height: 27px; /* 218.75% */
    letter-spacing: 0.8px;
  }
}
